@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  src: url('./assets/fonts/Roboto-Regular.ttf');
 }

@font-face {
  font-family: RobotoBold;
  font-style: normal;
  font-weight: bold;
  src: url('./assets/fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: RobotoMedium;
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: RobotoLight;
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/Roboto-Light.ttf');
}
 
 
body {
  background:#fff;
  margin: 0;
  font-family: 'Roboto';
   color: rgb(37, 37, 37) !important;

}
b{
 font-family: 'RobotoBold';

}

p{
  font-family: 'RobotoLight';

 }


 